<router-outlet></router-outlet>
<div class="ash">
  <h2>{{ name }}</h2>
  <h2>{{ email }}</h2>
  <a href="{{ webpage }}" target="_blank">Visita mi sitio Web</a>
  
  <hr>

  <button (click)="toggleHobbies()" class="btn">
    {{ showHobbies ? 'Ocultar Hobbies' : 'Mostrar Hobbies' }}
  </button>

  <div *ngIf="showHobbies" class="component2">
    <h3>Hobbies:</h3>
    <ul>
      <li *ngFor="let hobby of hobbies">{{ hobby }}</li>
    </ul>

    <form (submit)="newHobby(hobbyInput)">
      <input #hobbyInput type="text" placeholder="Añade un hobby">
      <button type="submit">Agregar</button>
    </form>
  </div>
  <hr>
  <h2> Posts desde una API: </h2>
  <div class = "black" *ngFor = "let post of posts">
    <h3> {{ post.title }} </h3>
    <p> {{ post.body }}</p>
  </div>
</div>