.black {
  background-color: black;
  color: white;
}
.ash {
  background-color: #eee;
  color: black;
}
.component2 {
  background-color: #555;
  color: black;
  padding: 20px;
}
.btn {
    padding: 10px;
    color: white;
    background-color: brown;
    cursor: pointer;
    border: none;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.data-binding-form div {
  margin-bottom: 10px;
}
.data-binding-form label {
  display: inline-block;
  width: 80px;
}
.video-container {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}